#body{
  background: #35495e;
}

#search{
float: right;
margin-left: 10px;
}

#jumbotron{
  background-color: #343a40;
  padding-top: 10px;
  height: 100%;
}

h1{
  color: white;
}

#thead{
  background-color: #e9ecef;
  color: black;
  position: sticky;
  margin-bottom: 10px;
}

#funding a{
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  margin-right: 10px;
  color: white;
}

#fun{
  width: 100%;
}

.col-9{
  color: white;
  margin-left: -66px;
  width: 500px;
}

.tab-content{
  color: white;
  height: 400px;
  width:auto;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  text-align: center;
}
#tbody{
  height: 400px;
  color: white;
  overflow-y: auto;
  overflow-x: auto;
  position: relative;

}

#tbody a{
  color:white;
}

#v-pills-main-tab{
  margin-left: -24px;
  color: white;
  text-align: left;
  height: 35px;
  width: 55%;
}

#v-pills-working-tab{
  margin-left: -24px;
  color: white;
  text-align: left;
  height: 35px;
  width: 55%;
}

#v-pills-booked-tab{
    margin-left: -24px;
    color: white;
    text-align: left;
    height: 35px;
    width: 55%;
}

.nav-item{
  padding-left: 5px;
  padding-top: 10px;
}
